.admin-faqList-table-head
.MuiTableCell-root {
    text-align: center;
    background-color: #f0f0f0; 
    font-weight: bold;
}

.admin-noticeList-table-body
.MuiTableCell-root {
    text-align: center;
}