.fade-enter {
  opacity: 0;
  top: calc(var(--tag-y) - 107px) !important;
}

.fade-enter-active {
  opacity: 1;
  top: calc(var(--tag-y) - 57px) !important;
  transition: opacity 500ms, top 500ms ease-out;
}

.fade-exit {
  opacity: 1;
  top: calc(var(--tag-y) - 57px) !important;
}

.fade-exit-active {
  opacity: 0;
  top: calc(var(--tag-y) - 107px) !important;
  transition: opacity 500ms, top 500ms ease-out;
}