h3{
    margin-bottom: 20px;
}

p{
    margin-bottom: 5px;
}

.bookBtn{
    width: 100%;
    bottom: -10%;
}

.plusMinusBtn{
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: 0;
    min-width: 30px;
    height: 24px;
}