.pd-reg-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  font-size: 130%;
  margin-top: 50px;
  font-family: 'MinSans-Regular';
}


.btn1 {
  color: #767474;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 20px; /* 버튼의 내부 여백 추가 */
  font-family: 'MinSans-Regular';
}

.btn1:hover {
  color: #3DBDFD;
}

.btn1.active {
  color: orange; 
}

.p-count {
  font-size: 16px;
  text-align: right; /* 텍스트 오른쪽 정렬 */
  margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 오른쪽 정렬 */
  display: block; /* 텍스트를 새로운 줄로 만듬 */
  font-weight: bold;
  color: #767474;
  font-family: 'MinSans-Regular';
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.purchase-info {
  margin-top: 10px;
  font-size: 14px;
  font-family: 'MinSans-Regular';
}

/* 테이블 스타일 */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  font-family: 'MinSans-Regular';
}

.product-table thead {
  background-color: #f4f4f4;
  border-top: 1px solid #333; /* 위쪽 선 */
  border-bottom: 1px solid #333; /* 아래쪽 선 */
}

.product-table th,
.product-table td {
  padding: 10px;
  text-align: center;
}

.product-table tbody tr {
  border-bottom: 1px solid #ddd; /* 각 행 아래에 선 */
}

.product-table tbody tr:hover {
  background-color: #f9f9f9;
}

.product-table img {
  border: 1px solid #ddd;
  border-radius: 5px;
}