.container-box {
  font-family: 'MinSans-Regular';
  margin-top: 150px;
  margin-bottom: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.logo {
  display: grid;
  justify-content: center;
  font-size: 250%;
  font-family: 'Jaro', sans-serif;
  margin-bottom: 10px;
}

.p1 {
  font-size: 20px;
  color: #333333;
  display: grid;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
  /* font-family: Do Hyeon, sans-serif; */
  justify-content: center;

}

.p2 {
  font-size: 20px;
  color: #333333;
  display: block;
  justify-content: center;
  font-weight: bold;
}

.fcontrol {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.textf {
  width: 300px;
}


.btn1 {
  color: #767474;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  margin: 5px;
  transition: all 0.3s ease;
}

.btn1:hover{
  color: #3DBDFD;
}